@mixin respond($breakpoint) {
    @if $breakpoint== mobile {
        @media only screen and (max-width: $bp-mobile) {
            @content;
        }
    }
    @if $breakpoint== tab {
        @media only screen and (max-width: $bp-tab) {
            @content;
        }
    }
    @if $breakpoint== desk {
        @media only screen and (max-width: $bp-desk) {
            @content;
        }
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
