//Standard Colors
$primary-color: #14213d;
$secondary-color: #003566;

//Page

$page-back-color: #eaeef3;
$border: 1px solid rgb(189, 182, 182);

$standard-gap: 15px;

$bp-mobile: 767px;
$bp-tab: 1024px;
$bp-desk: 1920px;
