.chart-card {
    min-width: 300px !important;
    min-height: 200px !important;
    border: 1px solid gray;
    font-size: 12px;
    color: blue;
    padding-bottom: 1.4rem !important;
    text-align: center;
    font-weight: bold;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
