table {
    width: 100%;
}

table th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
}

.emp-list {
    padding: 48px;

    .btn {
        text-align: right;
    }
}
