.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-content: center;
    @include absCenter;
    border: 1px solid gray;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    align-items: center;

    .login-form {
        display: flex;
        width: 400px;
        flex-direction: column;
        gap: $standard-gap;
        justify-content: center;

        input[type="text"] {
            font-size: 16px;
        }

        &__btn {
            width: 400px;
            text-align: right;
        }
    }
}
